
#home{
    background-image: url(./landing\ page.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#gallery{
    background-color: rgb(6, 3, 1);
    justify-content: center;
    position: fixed;

}
#events{
    background-image: url(./about.jpg);
}
#menu{
    background-color:rgb(53, 40, 29);
}
#container-gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}
#container-chefs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: auto;
    padding-top: 30px;
}
#about{
    background-image: url(./about.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-family: 'Oswald', sans-serif;
}
h3{
    font-family: 'Oswald', sans-serif;
}
